<h3>Edit post</h3><hr>
<div class="row">
	<div class="col-md-5">
		<form ng-submit="editPost()">
			<div class="form-group">
				<label>Title</label><span>*</span>:
				<input type="text" class="form-control" ng-model="post.title" required>
			</div>
			<div class="form-group">
				<label>Content:</label><span>*</span>:
				<textarea name="name" ng-model="post.body" class="form-control" required></textarea>
			</div>

			<input type="submit" value="Edit" class="btn btn-success">
			<a class="btn btn-default" ng-href="/#/post/{{post._id}}">Cancel</a>
		</form>
	</div>
</div>
