<div ng-show="posts.length === 0">
	Not posts
</div>
<div class="blog-artical" ng-repeat="post in posts">
	<div>
		<h2><a ng-href="/#/post/{{post._id}}">{{ post.title }}</a></h2>
		{{ post.body }}
		<br><br>
		<div class="">
			<i class="fa fa-calendar" aria-hidden="true"></i><span> {{post.createdOn | date:'MMM dd, yyyy  h:mma'}}</span>
			<i class="fa fa-user" aria-hidden="true"></i><span> {{post.author.username}}</span>
			<i class="fa fa-thumbs-up"  id="fa-thumbs-up" aria-hidden="true"></i><span> {{post.upvotes}} likes</span>
			<i class="fa fa-comments"  id="fa-comments" aria-hidden="true"></i><span> {{post.comments.length}} comments</span>
		</div>
	</div><hr>
</div>
