<div class="log-in-alert" ng-hide="isLoggedIn()">
	<h3>You need to <a href="/#/login"><span>Log In</span></a> or <a href="/#/register"><span>Register</span></a> before you can add a post.</h3>
</div>

<div>
	<div ng-show="isLoggedIn()" class="col-md-6 login-right wow fadeInRight new-post" data-wow-delay="0.4s">
		<h3>New post</h3> <hr>
		<form ng-submit="newPost()">
			<div>
				<label>Title<span>*</span></label>:
				<input type="text" class="form-control" ng-model="post.title" required>
			</div><br>
			<label>Body<span>*</span></label>:
			<textarea ng-model="post.body" class="form-control" required> </textarea>
			<br>
			<div>
				<label>Banner Link</label>
				<input type="text" class="form-control" ng-model="post.banner">
			</div><br>
			<input type="submit" class="btn btn-success" value="Save">
		</form>
	</div>
</div>
