<h3 id="post-title">{{post.title}}</h3><hr>
<p>
	{{ post.body }}
</p>
<div class="form-group">
	<i class="fa fa-user" id="fa-user" aria-hidden="true"></i> <span>{{post.author.username}}</span>
	<i class="fa fa-calendar" id="fa-calender" aria-hidden="true"></i> <span>{{post.createdOn | date:'MMM dd, yyyy  h:mma'}}</span>
	<i class="fa fa-thumbs-up"  id="fa-thumbs-up" aria-hidden="true"></i> <span>{{post.upvotes}} likes</span>
	<i class="fa fa-comments"  id="fa-comments" aria-hidden="true"></i> <span>{{post.comments.length}} comments</span>
</div>
<div class="btn-group">
	<button class="btn btn-primary" ng-click="incrementUpvotes(post)"><i class="fa fa-thumbs-up"  id="fa-thumbs-up" aria-hidden="true"></i> Like</button>
	<button ng-show="currentUser" class="btn btn-default" ng-click="openCommentPrompt('post',post._id)"><i class="fa fa-comment"  id="fa-comment" aria-hidden="true"></i> Comment</button>
	<a ng-show="showBtn()" ng-href="/#/post/{{post._id}}/edit"><button class="btn btn-warning">Edit</button></a>
	<button ng-show="showBtn()" class="btn btn-danger" ng-click="deletePost()">Delete</button>
</div>
<hr>
<div>
	<h3>Comments:</h3>
	<div ng-show="posts.comments.length === 0">
		Not data
	</div>
	<div ng-repeat="comment in post.comments | orderBy:'createdOn':true">
		<div>
			<h5><b>By:</b> {{ comment.author.username }} | <span><b>Date:</b> {{comment.createdOn | date:'MMM dd, yyyy  h:mma'}}</span></h5>
			<div class="form-group">
				<h6> {{comment.body}} </h6>
			</div>
			<div class="form-group">
				<button class="btn btn-default" ng-click="openCommentPrompt('comment',comment._id)">Reply</button>
			</div>
		</div>
		<div class="well" ng-show="comment.responses.length > 0">
			<div ng-repeat="response in responses = comment.responses">
				<h5><b>By:</b><span> {{ response.author.username }}</span> | <b>Date:</b><span> {{response.createdOn | date:'MMM dd, yyyy  h:mma'}}</span></h5>
				<div>
					<h6>{{response.body}}</h6>
				</div><hr>
			</div>
		</div>
		<hr>
	</div>
</div>
