<div>
  <h3>Contact</h3>
  <div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26916.26944222257!2d-117.03965509977382!3d32.51189062392929!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80d9390226587bd3%3A0x14724bafa4e62456!2sTijuana%2C+B.C.!5e0!3m2!1ses-419!2smx!4v1480972107130" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
  <div>
    <address>
      <p>email: info@company.com</p>
      <p>phone: +01 800 ...</p>
      <p>Josh</p>
      <p>Mexico</p>
    </address>
  </div>
</div>
<!-- //contact -->
