<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Blog</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav" ng-controller="NavController">
				<li class="hvr-bounce-to-bottom "><a ng-href="/">Home</a></li>
				<li class="hvr-bounce-to-bottom"><a ng-href="/#/posts">Posts</a></li>
				<li class="hvr-bounce-to-bottom"><a ng-href="/#/new-post">New Post</a></li>
				<li class="hvr-bounce-to-bottom"><a ng-href="/#/contact">Contact Us</a></li>
				<li ng-show="isLoggedIn()"><a href="" ng-click="logOut()">Log Out</a></li>
				<li ng-hide="isLoggedIn()"><a ng-href="/#/login">Log In </a></li>
				<li ng-hide="isLoggedIn()"><a ng-href="/#/register">Register</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
