<div class="row">
	<div class="col-md-9">
		<h1>Posts</h1> <hr>
		<div ng-repeat="post in posts">
			<h3 id="#post-title"><a ng-href="/#/post/{{post._id}}">{{ post.title }}</a></h3>
			<h6><b>Posted on </b><span>{{post.createdOn | date:'MMM dd, yyyy  h:mma'}}</span> <b>by</b> <i>{{ post.author.username }}</i></h6>
			<p>
				{{ post.body }}
			</p>
		</div>
		<div ng-show="posts.length === 0">
			Not data
		</div>
	</div>
	<div class="col-md-3">
		<div>
				<h3>Recent Posts</h3>
				<div ng-repeat="post in posts">
					<div>
						<h4><a ng-href="/#/post/{{post._id}}">{{ post.title }}</a></h4>
					</div>
				</div>
				<hr>
				<h3>Popular Posts</h3>
				<div ng-repeat="post in posts">
					<div>
						<h4><a ng-href="/#/post/{{post._id}}">{{ post.title }}</a></h4>
					</div>
				</div>
		</div>
	</div>
</div>
