<!DOCTYPE html>
<html ng-app="blog">
  <head>
    <title>Blog</title>
	  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <!-- Libs CSS-->
   	<link href="libs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="libs/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>

    <!-- Assets CSS -->
  	<link href="assets/css/style.css" rel="stylesheet" type="text/css"/>

  </head>
  <body>
    <div ng-include="'views/header-nav.html'"></div>
	  <div class="container">
		    <div class="alerts {{alert.type}}">
		      <div uib-alert ng-repeat="alert in alerts" class="alert alert-{{alert.type}}" id="scrollToDivID" close="closeAlert($index)">{{ alert.msg }}</div>
		    </div>
		   <ui-view></ui-view>
	  </div>

    <!-- Libs JS -->
    <script type="text/javascript" src="libs/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="libs/angular/angular.js"></script>
    <script type="text/javascript" src="libs/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="libs/angular-bootstrap/ui-bootstrap.min.js"></script>

    <!-- Modules-->
    <script src="app.module.js"></script>
    <script src="controllers/NavController.js"></script>

    <!-- Controllers-->
    <script src="controllers/posts/index.js"></script>
    <script src="controllers/posts/new.js"></script>
    <script src="controllers/posts/show.js"></script>
    <script src="controllers/posts/edit.js"></script>
    <script src="controllers/AuthController.js"></script>
    <script src="controllers/AlertController.js"></script>

  	<!-- Project Services-->
    <script src="services/PostService.js"></script>
    <script src="services/AuthService.js"></script>
    <script src="services/AlertService.js"></script>
    <!-- Routes-->
    <script src="app.routes.js"></script>

  </body>
</html>
