<div class="row">
	<div class="col-md-6">
		<h3>New customers</h3>
		<p>By creating an account with this blog page, you will be able to add new articles, manage its content and more.</p>
		<a ng-href="/#/register">Create an Account</a>
	 </div>
	 <div class="col-md-6">
		<h3>Registered customers</h3>
		<p>If you have an account with us, please log in.</p>
		<form ng-submit="logIn()">
			<div class="form-group">
				<label>Username</label><span>*</span>:
				<input type="text" class="form-control" ng-model="user.username" required>
			</div>
			<div class="form-group">
				<label>Password</label><span>*</span>:
				<input type="password" class="form-control" ng-model="user.password" required>
			</div>
			<input type="submit" value="Login" class="btn btn-success">
		</form>
	 </div>
</div>
