<div class="row">
	<div class="col-md-6 col-md-offset-4">
		<h3>Personal information</h3> <hr>
		<form ng-submit="register()">
			<div>
				<label>Full name</label> <span>*</span>:
				<input type="text" class="form-control" ng-model="user.fullname" required>
			</div><br>
			<div>
				<label>Email Address</label> <span>*</span>:
				<input type="email" class="form-control" ng-model="user.email" required>
			</div>
			<h3>Login information</h3><hr>
			<div>
				<label>Username</label> <span>*</span>:
				<input type="text" class="form-control" ng-model="user.username" required>
			</div><br>
			<div>
				<label>Password</label> <span>*</span>:
				<input type="password" class="form-control" ng-model="user.password" required>
			</div><br>
			<div>
				<label>Confirm Password</label> <span>*</span>:
				<input type="password" class="form-control" ng-model="user.confirmPassword" required>
			</div><br>
			<input type="submit" value="Register" class="btn btn-success">
		</form>
	</div>
</div>
